/* Mobile */
@media (max-width: 900px) {

    /* Header */
    .navbar {
        grid-template-columns: 20px 1fr 1fr 1fr 20px;

        .title {
            font-size: 1rem;
        }

        li {
            transition: .4s;

            a {
                font-size: 1rem;
                padding: 1em;
            }
        }
    }

    /* main */
    .main {
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;

        /* Canvas */
        canvas {
            max-width: 100%;
            border-radius: 0;
            height: auto;
            display: block;
        }

        .input-sentence {
            border-radius: 100dvh;
            padding: 0.625rem;
            font-size: 0.8125rem;
            text-align: center;
            border: 1px solid gray;
            margin-block: 1rem;
        }

        .design-operations {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }

        .canvas-container {
            grid-column: 1 / 3;
        }

        .footer {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 1rem;

            .download,
            .save {
                display: inline;
                border: 1px solid gray;
                border-radius: 20px;
                padding: 4px 5px;
                margin: 5px;
            }
        }
    }

    /* Gallery */
    .imgs {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-inline: 20px;
    }
}

/* Small */
@media (min-width: 600px) {

    /* Header */
    .navbar {
        grid-template-columns: 50px 1fr 1fr 1fr 50px;

        .title {
            font-size: 1.2rem;
        }

        a {
            font-size: 1.1rem;
        }
    }

    /* main */
    .main {
        grid-template-columns: 50px 1fr 1fr 50px;
        grid-row: 1fr;
        align-items: center;

        /* Canvas */
        canvas {
            border-radius: 4px;
        }

        .canvas-container {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        .input-sentence {
            border-radius: 100dvh;
            padding: 0.75rem;
            font-size: 0.875rem;
            margin-block: 1rem;
        }

        .design-operations {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        .footer {
            margin: 1rem;

            .download,
            .save {
                padding: 5px 6px;
            }
        }
    }


    /* Gallery */
    .imgs {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-inline: 30px;
    }
}

/* Medium */
@media (min-width: 900px) {

    /* Header */
    .navbar {
        grid-template-columns: 100px 1fr 1fr 1fr 100px;

        .title {
            font-size: 1.4rem;
        }

        a {
            font-size: 1.2rem;
        }
    }

    /* main */
    .main {
        grid-template-columns: 100px 1fr 1fr 100px;

        /* Canvas */
        canvas {
            border-radius: 5px;
        }

        .input-sentence {
            border-radius: 100dvh;
            padding: 0.9375rem;
            font-size: 0.9rem;
            margin-block: 1.5rem;
        }

        .footer {
            margin: 1.5rem;

            .download,
            .save {
                padding: 8px 10px;
            }
        }
    }

    /* Gallery */
    .imgs {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        padding-inline: 40px;
    }
}

/* Large */
@media (min-width: 1150px) {

    /* Header */
    .navbar {
        grid-template-columns: 150px 1fr 1fr 1fr 150px;

        .title {
            font-size: 1.8rem;
        }

        a {
            font-size: 1.3rem;
        }
    }

    /* main */
    .main {
        grid-template-columns: 120px 1fr 1fr 120px;

        /* Canvas */
        canvas {
            border-radius: 6px;
        }

        .input-sentence {
            border-radius: 100dvh;
            padding: 1.125rem;
            font-size: 1rem;
            margin-block: 1.5rem;
            padding-inline: 3rem;
        }

        .input-operations img {
            margin: 0.4em;
        }
    }

    /* Gallery */
    .imgs {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        padding-inline: 50px;
    }
}