*,
*::before,
*::after {
    box-sizing: border-box;
}
.fa-solid.fa-circle-half-stroke {
   position: absolute;
   left: clamp(40px, 5vw, 70px);
   bottom: clamp(40px, 6vh, 50px);
   font-size: clamp(15px, 4vw, 20px);
   cursor: pointer;
}
