*,
*::before,
*::after {
    box-sizing: border-box;
}

.canvas-container {
    flex-direction: column;
    align-items: center;
}

canvas {
    border-radius: 5px;
}

.input-sentence {
    border-radius: 35px;
    padding: 18px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    margin-block: 20px;
}