*,
*::before,
*::after {
    box-sizing: border-box;
}

.design-operations {
    gap: 15px;

    img {
        width: 23px;
        cursor: pointer;
        transition: 200ms;
    }
}

.design-operations:has(img:hover) > img:not(:hover) {
    scale: 0.8;
    opacity: .5;
}
