*,
*::before,
*::after {
    box-sizing: border-box;
}

.design-operations {
    gap: 15px;
    justify-content: center;

    img {
        width: clamp(20px, 5vw, 35px);
        cursor: pointer;
        transition: 400ms;
        padding: 5px;
        border-radius: 0;
    }
}

.design-operations:has(img:hover) > img:not(:hover) {
    scale: 0.8;
    opacity: .5;
}
