*,
*::before,
*::after {
    box-sizing: border-box;
}

.download,
.save {
    display: inline;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8px 10px;
    margin: 10px;
}

.download:hover,
.save:hover {
    opacity: 0.5;
}