*,
*::before,
*::after {
    box-sizing: border-box;
}

.footer {
    justify-content: center;
    align-items: center;

    a {
        transition: 300ms;
    }

    .download,
    .save {
        display: inline;
        border: 2px solid gray;
        border-radius: 20px;
        padding: 8px 10px;
        margin: 0.5rem;
    }
}

.footer:has(a:hover)>a:not(:hover) {
    scale: 0.9;
    opacity: .5;
}