*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;

    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 40px;

}

.navbar>li {
    list-style: none;
    transition: .4s;
    font-size: 18px;
}

.navbar>li>a:hover {
    color: rgb(161, 161, 161);
}

.gallery,
.editor {
    display: inline-block;
    width: 100%;
}