*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
    margin: 0;
   
    a {
        padding: clamp(10px, 4vh, 30px);
        width: 100%;
        display: inline-block;
     
        &:hover {
            color: rgb(161, 161, 161);
        }
    }
  
    li {
        transition: .4s;
        font-size: 18px;
    }
}