*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-auto-flow: column;

    margin: 40px;
}

/* .nav-aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
} */