*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

.btn {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}