*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

html.dark {
    color-scheme: dark;
}

body {
    margin: 0;
    text-align: center;
    transition: .5s;
}

.button {
    cursor: pointer;
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

.debug * {
    outline: 1px solid orange;
}