*,
*::before,
*::after {
    box-sizing: border-box;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.hide {
    opacity: 0;
    pointer-events: none;
}