*,
*::before,
*::after {
    box-sizing: border-box;
}

/* navbar */
.navbar {
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    align-items: center;

    li:nth-child(1) {
        grid-column: 2 / 3;
    }
}

/* main */
.main {
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-row: 2fr 1fr;
    padding-top: 2em;
    gap: 8em;
}

.canvas-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

}

.design-operations {
    grid-column: 3 / 4;
}

.footer {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}